<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zzy.dao.CatalogDao">
    <sql id="allcatlogs">
        select c1.id  cid,c1.classname cname1,c1.count ccount,c2.id id2,c2.classname cname2,c2.count ccount2,c2.pid cpid from d_catalog c1 JOIN
     d_catalog c2 ON  c1.id=c2.pid ORDER BY cid ASC
    </sql>
    <resultMap id="catalogMaps" type="catalog">
        <id column="cid" property="id"/>
        <result column="cname1" property="classname"/>
        <result column="ccount" property="count"/>
        <collection property="sonCatalogs" javaType="java.util.List" ofType="catalog">
            <id column="id2" property="id"/>
            <result column="cname2" property="classname"></result>
            <result column="ccount2" property="count"></result>
            <result column="cpid" property="pid"></result>
        </collection>
    </resultMap>
    <select id="queryAllCatalog" resultMap="catalogMaps">
        <include refid="allcatlogs"></include>
    </select>
    <select id="queryCatalogById" resultType="Catalog">
        select * from d_catalog where id=#{id}
    </select>
</mapper>
 